<extend name="Public/base"/>

<block name="body">
    <div class="panel admin-panel">
    <form method="post" class="form-x">
    	<div class="panel-head"><strong>影片管理</strong></div>
        <div class="padding border-bottom">
        	<div class="button-group button-group-small">
                <button type="button" class="button checkall" checkfor="id[]" name="checkall"><span class="icon-check-square-o"></span> 全选</button>
                 <a class="button" href="{:U('add')}"><span class="icon-plus text-green"></span> 新 增</a>
                 <button class="button ajax-post confirm" url="{:U('del')}" target-form="form-x"><span class="icon-trash-o text-red"></span> 删 除</button>
                 <div class="button-group">
                     <button type="button" class="button dropdown-toggle"><span class="icon-eye text-green"></span>显示/隐藏<span class="downward"></span></button>
                     <ul class="drop-menu">
                        <li><a class="ajax-post" url="{:U('displayx',array('value'=>1))}" target-form="form-x"><span class="icon-eye text-green"></span> 可 见</a></li>
                        <li><a class="ajax-post" url="{:U('displayx',array('value'=>0))}" target-form="form-x"><span class="icon-eye-slash text-green"></span> 不 可 见</a></li>
                    </ul>
                     
                </div>
            </div>
            <div class="button-group button-group-small">
            <button type="button" class="button dropdown-toggle">按分类查询<span class="downward"></span></button>
            <ul class="drop-menu">
            	<li><a href="{:U('index')}">所有分类</a></li>
                <volist name="category" id="vo">
                    <li><a href="{:U('index?category='.$vo['id'])}">{$vo.html}{$vo.title}</a></li>
				</volist>
            </ul>
            </div>
            <div class="button-group button-group-small">
            <button type="button" class="button dropdown-toggle">排序查询<span class="downward"></span></button>
            <ul class="drop-menu">
                <li><a href="{:U('index',array('category'=>$_GET['category']))}">默认查询</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'order'=>'hits','type'=>'asc'))}">人气升序</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'order'=>'hits','type'=>'desc'))}">人气降序</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'order'=>'create_time','type'=>'asc'))}">添加时间升序</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'order'=>'create_time','type'=>'desc'))}">添加时间降序</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'order'=>'update_time','type'=>'asc'))}">更新时间升序</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'order'=>'update_time','type'=>'desc'))}">更新时间降序</a></li>
            </ul>
            </div>
            <div class="button-group button-group-small">
            <button type="button" class="button dropdown-toggle">按语言查询<span class="downward"></span></button>
            <ul class="drop-menu">
                <li><a href="{:U('index',array('category'=>$_GET['category']))}">所有语言</a></li>
                <volist name="Think.config.MOVIE_LANGUAGE" id="language">
                    <li><a href="{:U('index',array('category'=>$_GET['category'],'language'=>$language))}">{$language}</a></li>
                </volist>
            </ul>
            </div>
            <div class="button-group button-group-small">
            <button type="button" class="button dropdown-toggle">按年份查询<span class="downward"></span></button>
            <ul class="drop-menu">
                <li><a href="{:U('index',array('category'=>$_GET['category']))}">所有年份</a></li>
                <volist name="Think.config.MOVIE_YEAR" id="year">
                    <li><a href="{:U('index',array('category'=>$_GET['category'],'year'=>$year))}">{$year}</a></li>
                </volist>
            </ul>
            </div>
            <div class="button-group button-group-small">
            <button type="button" class="button dropdown-toggle">推荐查询<span class="downward"></span></button>
            <ul class="drop-menu">
                <li><a href="{:U('index',array('position'=>$_GET['category']))}">默认查询</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'position'=>'4'))}">首页推荐</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'position'=>'2'))}">频道推荐</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'position'=>'1'))}">列表推荐</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'tj_tag'=>'1'))}">热剧更新</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'tj_tag'=>'2'))}">正在热播</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'tj_tag'=>'3'))}">大片抢先看</a></li>
                <li><a href="{:U('index',array('category'=>$_GET['category'],'tj_tag'=>'4'))}">VIP专享</a></li>
            </ul>
            </div>
            <div class="float-right">
            	<input type="text" name="keyword" class="input input-auto input-small" size="50" placeholder="搜索关键词" /> <a class="button button-small" href="javascript:;" id="search" url="{:U('index?category='.$_GET['category'])}"><span class="icon-search"></span> 搜索</a>
            </div>
        </div>
        <table class="table table-hover">
        	<tr>
                <th width="45">选择</th>
                <th width="45">id</th>
                <th>影片名称</th>
                <th width="120">影片分类</th>
                <th width="100">年份</th>
                <th width="80">人气</th>
                <th width="120">更新时间</th>
                <th width="60">可见</th>
                <th width="150">操作</th>
            </tr>
           	<notempty name="movielist">
            <volist name="movielist" id="vo">
            <tr>
                <td><input type="checkbox" name="id[]" value="{$vo.id}" /></td>
                <td>{$vo['id']}</td>
                <td>
                    <a href="index.php?s=/movie/index/id/{$vo['id']}" target="_blank">{$vo['title']}</a>
                    <notempty name="vo.serialize"><span class="text-yellow padding-left">{$vo['serialize']}</span></notempty>
                    <volist name="Think.config.DOCUMENT_POSITION" id="pos">
                        <if condition="check_document_position($vo['position'],$key)">
                        <switch name="key">
                            <case value="1"><span class="badge bg-blue margin-small-left">列推</span></case>
                            <case value="2"><span class="badge bg-yellow margin-small-left">频推</span></case>
                            <case value="4"><span class="badge bg-red margin-small-left">首推</span></case>
                        </switch>
                        </if>
                    </volist>
                    <switch name="vo.tj_tag">
                        <case value="1"><span class="tag bg-blue margin-small-left">热更</span></case>
                        <case value="2"><span class="tag bg-yellow margin-small-left">热播</span></case>
                        <case value="3"><span class="tag bg-red margin-small-left">抢先</span></case>
                        <case value="4"><span class="tag bg-green margin-small-left">VIP</span></case>
                    </switch>
                </td>
                <td>{:get_category($vo['category'])}</td>
                <td>{$vo['year']}</td>
                <td>{$vo['hits']}</td>
                <td>{$vo.update_time|time_format=###,"Y-m-d"}</td>
                <td>{$vo['display']?'是':'否'}</td>
                <td>
                    <a href="{:U('tj?id='.$vo['id'])}" class="tj">推荐</a>
                    <a href="{:U('edit?id='.$vo['id'])}">修改</a>
                    <a href="{:U('Comment/comment?id='.$vo['id'])}" class="comment">评论</a>
                    <a href="{:U('del?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                </td>
            </tr>
            </volist>
            <else/>
            <td colspan="5"> aOh! 暂时还没有内容! </td>
            </notempty>
        </table>
         <div class="panel-foot text-center">
         	<div class="page">{$_page}</div>
        </div>
        </form>
    </div>
</block>

<block name="script">
<js href="__STATIC__/layer/layer.js" />
<script type="text/javascript">
$(function(){
    $(document).keypress(function(event){    
        var keynum = (event.keyCode ? event.keyCode : event.which);    
        if(keynum == '13'){
            $('#search').trigger("click");
            return false;
        }    
    });  
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
		var query = $(this).prev('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

	$(".order").click(function(){
		var url = $(this).attr('url');
		 if( url.indexOf('?')>0 ){
            url += '&';
        }else{
            url += '?';
        }
		if($(this).hasClass("icon-arrow-up")){
			url += 'type=asc';
			$(this).removeClass("icon-arrow-up text-red").addClass("icon-arrow-down text-green");
		}else{
			url += 'type=desc';
			$(this).removeClass("icon-arrow-down text-green").addClass("icon-arrow-up text-red");
		}
		window.location.href = url;
	});

    $(".tj").click(function(){
        layer.open({
            type: 2,
            area: ['500px', '350px'],
            fix: false, //不固定
            maxmin: true,
            content: $(this).attr('href')
        });
        return false;
    });

    $(".comment").click(function(){
        layer.open({
            type: 2,
            area: ['580px', '570px'],
            fix: false, //不固定
            maxmin: true,
            content: $(this).attr('href')
        });
        return false;
    });
})
</script>
</block>
