<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎您登录雷风影视系统-{$meta_title}</title>
    <link rel="stylesheet" href="__CSS__/pintuer.css">
    <link rel="stylesheet" href="__CSS__/admin.css">
</head>
<body class="bg-white">
<div class="panel admin-panel margin-big">
    <div class="panel-head"><strong>推荐设置</strong></div>
    <div class="panel-body">
    	<form method="post" action="{:U('tj')}" class="form-x">
        <div class="form-group">
            <div class="label"><label>影片推荐</label></div>
            <div class="field">
                <div class="button-group checkbox">
                    <volist name="Think.config.DOCUMENT_POSITION" id="pos">
                    <label class="button <if condition="check_document_position($info['position'],$key)">active</if>"><input type="checkbox" value="{$key}" name="position[]" <if condition="check_document_position($info['position'],$key)">checked="checked"</if>>{$pos}</label>
                    </volist>
                </div>
    		</div>
        </div>
        <div class="form-group add_time">
            <div class="label"><label>推荐标签</label></div>
            <div class="field">
                <div class="button-group radio">
                    <label class="button <eq name="info['tj_tag']" value="0">active</eq>">
                        <input name="tj_tag" value="0" checked="checked" type="radio">无
                    </label>
                    <label class="button <eq name="info['tj_tag']" value="1">active</eq>">
                        <input name="tj_tag" value="1" type="radio">热剧更新
                    </label>
                    <label class="button <eq name="info['tj_tag']" value="2">active</eq>">
                        <input name="tj_tag" value="2" type="radio">正在热播
                    </label>
                    <label class="button <eq name="info['tj_tag']" value="3">active</eq>">
                        <input name="tj_tag" value="3" type="radio">大片抢先看
                    </label>
                    <label class="button <eq name="info['tj_tag']" value="4">active</eq>">
                        <input name="tj_tag" value="4" type="radio">VIP专享
                    </label>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" value="{$info.id|default=''}">
        <div class="form-button"><button class="button bg-main ajaxpost" type="submit" target-form="form-x">确 认</button></div>
        </form>
    </div>
</div>
<script src="__JS__/jquery.js"></script>
<script src="__JS__/pintuer.js"></script>
<script src="__JS__/respond.js"></script>
<script src="__JS__/admin.js"></script>
<script src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript">
$(function(){
	$(".ajaxpost").click(function(){
		var url;
		var target_form = $(this).attr('target-form');
		var index = parent.layer.getFrameIndex(window.name);
		var form = $('.'+target_form);
		if (url = form.get(0).action) {
			query = form.serialize();
			$.post(url,query).success(function(data){
				 if (data.status==1) {
					parent.layer.msg(data.info,{icon: 1,shade: 0.3},function(){
						parent.location.reload();
						parent.layer.close(index);
					});
				 }else{
					parent.layer.msg(data.info,{icon: 0,shade: 0.3});
				 }
			});
		}
		return false;
	});
})
</script>
</body>
</html>