<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎您登录雷风影视系统-{$meta_title}</title>
    <link rel="stylesheet" href="__CSS__/pintuer.css">
    <link rel="stylesheet" href="__CSS__/admin.css">
    <css href="__STATIC__/face/css/face.css" />
</head>
<body class="bg-white">
<div class="panel admin-panel margin-big">
    <div class="panel-head"><strong>发送用户消息</strong></div>
      <div class="panel-body">
      	<form method="post" action="{:U('add')}" class="form-x">
            <div class="form-group">
                <div class="label"><label>类型</label></div>
                <div class="field">
                    <select class="input input-auto type" name="type">
                        <option value="0">系统消息</option>
                        <option value="1">用户消息</option>
                    </select>
				</div>
            </div>
            <div class="form-group hidden">
                <div class="label"><label>用户名</label></div>
                <div class="field"> <input type="text" name="username" class="input input-auto"  size="67"/> </div>
            </div>
            <div class="form-group">
                <div class="label"><label>标题</label></div>
                <div class="field"> <input type="text" name="title" class="input input-auto"  size="67"/> </div>
            </div>
            <div class="form-group">
                <div class="label"><label>消息内容</label></div>
                <div class="field layui-form"> <textarea name="content" id="LAY_desc"></textarea> </div>
            </div>
          <br>
        <div class="form-button"><button class="button bg-main ajaxpost" type="submit" target-form="form-x">发 送</button></div>
        </form>
      </div>
</div>
<script src="__JS__/jquery.js"></script>
<script src="__JS__/pintuer.js"></script>
<script src="__JS__/respond.js"></script>
<script src="__JS__/admin.js"></script>
<script src="__STATIC__/layer/layer.js"></script>
<script src="__STATIC__/face/face_icon.js"></script>
<script src="__STATIC__/face/face.js"></script>
<script type="text/javascript">
$(function(){
	$(".type").change(function(){
		$(this).parents(".form-group").next().toggleClass('hidden');
	});
	$(".ajaxpost").click(function(){
		var url;
		var target_form = $(this).attr('target-form');
		var index = parent.layer.getFrameIndex(window.name);
		var form = $('.'+target_form);
		if (url = form.get(0).action) {
			query = form.serialize();
			$.post(url,query).success(function(data){
				 if (data.status==1) {
					parent.layer.msg(data.info,{icon: 1,shade: 0.3},function(){
						parent.location.reload();
						parent.layer.close(index);
					});
				 }else{
					parent.layer.msg(data.info,{icon: 0,shade: 0.3});
				 }
			});
		}
		return false;
	});
	<eq name="type" value="1">
	setValue("type", {$type});
	setValue("username", "{$username}");
	$('[name="username"]').parents(".form-group").toggleClass('hidden');
	</eq>
})
</script>
</body>
</html>