<script src="__JS__/admin.js"></script>
<form action="{:U()}" class="form-bing"  method="post">
<div class="line margin">
	<input name="pname" type="hidden" value="{$ptitle}" />
  	<select class="input input-auto" name="bpname">
        <volist name="playerlist" id="vo">
            <option value="{$vo.id}" <eq name="vo.title" value="$ptitle">selected</eq>>{$vo.title}</option>
        </volist>
        <option value="">取消绑定</option>
     </select>
  <button class="button bg-green ajax-post no-refresh" callback="removepbind(that,{$pid})" type="submit" target-form="form-bing">提交</button>
  <button class="button bg-red tips-close" type="button">关闭</button>
</div>
</form>