<extend name="Public/base"/>
<block name="body">
<div class="vbox scrollable wrapper m-t-xs">
    <div class="container projects">
        <div class="col-lg-9">
            <div class="scrollable">
                <div class="post-item">
                    <div class="caption wrapper-lg">
                    	<div class="pull-right">
                            <a href="<eq name="message['uid']" value="0">#<else/>{:U('Users/info?id='.$message['uid'])}</eq>" class="thumb-sm pull-left m-r-sm"><img src="{$message['userpath']|default='__IMG__/user.jpg'}" class="img-circle">
                            </a>
                            <div class="clear">
                                <a href="<eq name="message['uid']" value="0">#<else/>{:U('Users/info?id='.$message['uid'])}</eq>"><strong>{$message['username']}</strong></a>
                                <span class="text-muted text-xs block m-t-xs">{$message['create_time']|tmspan}</span>
                            </div>
                        </div>
                        <h3 class="post-title">{$message['title']}</h3>
                        <div class="post-sum">
                            <p>{$message['content']|ubb_face}</p>
                        </div>
                        <div class="line line-lg"></div>
                        <div class="comment-action m-t-sm">
                            <a href="{:U('del?id='.$message['id'])}" class="btn btn-danger btn-sm">
                              <i class="glyphicon glyphicon-trash"></i> 
                              删除
                            </a>
                            <neq name="message['uid']" value="0">
                            <a href="{:U('add?uid='.$message['uid'])}" class="btn btn-info btn-sm message">
                              <i class="glyphicon glyphicon-comment"></i> 
                              回复
                            </a>
                            </neq>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="vbox">
                    <div class="scrollable wrapper">
                        <div class="text-center m-b m-t">
                                <img src="{$path|default='__IMG__/user.jpg'}" class="img-circle img-users">
                            <div>
                                <div class="h4 m-t-xs m-b-xs">{$username}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer bg-info text-center">
                    <div class="row pull-out">
                        <div class="col-xs-4">
                            <div class="padder-v">
                                <a href="{:U('Users/user?state=follow&id='.$id)}">
                                <span class="m-b-xs h3 block text-white">
                                    {$follow}
                                </span>
                                <small class="text-muted">
                                    关注
                                </small>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4 dk">
                            <div class="padder-v">
                                <a href="{:U('Users/user?state=fans&id='.$id)}">
                                <span class="m-b-xs h3 block text-white">
                                    {$fans}
                                </span>
                                <small class="text-muted">
                                    粉丝
                                </small>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="padder-v">
                                <span class="m-b-xs h3 block text-white">
                                    {$integral}
                                </span>
                                <small class="text-muted">
                                    积分
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                        <div class="vbox">
                            <div class="scrollable wrapper">
                                <div class="m-b m-t">
                                    <if condition="$vip_time gt time()">
                                    <dl class="row">
                                        <dd class="col-xs-6 rno">VIP到期：</dd>
                                        <dd class="list-inline">{$vip_time|time_format=###,"Y-m-d"}</dd>
                                    </dl>
                                    </if>
                                    <dl class="row">
                                        <dd class="col-xs-6 rno">用户类型：</dd>
                                        <dd class="list-inline"><if condition="$vip_time gt time()">VIP<else/>普通用户</if></dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6 rno">帐号登录次数：</dd>
                                        <dd class="list-inline">{$login}次</dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6 rno">上次登录IP：</dd>
                                        <dd class="list-inline">{:long2ip($last_login_ip)}</dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6 rno">上次登录时间：</dd>
                                        <dd class="list-inline">{$last_login_time|time_format}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="panel panel-default">
                        <div class="vbox">
                            <div class="scrollable wrapper">
                                <div>
                                    <h4 class="m-b"><b>会员功能</b></h4>
                                    <dl class="row">
                                        <dd class="col-xs-6">发表评论</dd>
                                        <dd class="col-xs-6 text-right"><img src="__IMG__/toggle.gif" /></dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6">观看游客视频</dd>
                                        <dd class="col-xs-6 text-right">
                                            <img src="__IMG__/toggle.gif" />
                                        </dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6">观看会员视频</dd>
                                        <dd class="col-xs-6 text-right">
                                            <if condition="$vip_time gt time()">
                                            <img src="__IMG__/toggle.gif" />
                                            <else />
                                            <img src="__IMG__/toggleb.gif" />
                                            </if>
                                        </dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6">观看付费视频</dd>
                                        <dd class="col-xs-6 text-right">
                                            <if condition="$vip_time gt time()">
                                            <img src="__IMG__/toggle.gif" />
                                            <else />
                                            <img src="__IMG__/toggleb.gif" />
                                            </if>
                                        </dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6">视频下载</dd>
                                        <dd class="col-xs-6 text-right">
                                            <if condition="$vip_time gt time()">
                                            <img src="__IMG__/toggle.gif" />
                                            <else />
                                            <img src="__IMG__/toggleb.gif" />
                                            </if>
                                        </dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6">私密夹</dd>
                                        <dd class="col-xs-6 text-right">
                                            <if condition="$vip_time gt time()">
                                            <img src="__IMG__/toggle.gif" />
                                            <else />
                                            <img src="__IMG__/toggleb.gif" />
                                            </if>
                                        </dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6">尊贵身份标识</dd>
                                        <dd class="col-xs-6 text-right">
                                            <if condition="$vip_time gt time()">
                                            <img src="__IMG__/toggle.gif" />
                                            <else />
                                            <img src="__IMG__/toggleb.gif" />
                                            </if>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
</div>
</block>
<block name="script">
<js href="__STATIC__/layer/layer.js" />
</block>