<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>{$webtitle}</title>
        <meta name="keywords" content="{$keywords}">
        <meta name="description" content="{$description}">
        <link type="text/css" rel="stylesheet" href="{$tplpath}/css/global2014.css">
    	<link type="text/css" rel="stylesheet" href="{$tplpath}/css/nav_v1.css">
    	<link type="text/css" rel="stylesheet" href="{$tplpath}/css/vip.css">
        <!--[if lt IE 8]>
            <script src="{$tplpath}/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
    <include file="{$tplpath}/header.html" />
    <div class="vip-wrap">
    	<div class="buy-vip-outer-wrap">
    		<div class="buy-vip-wrap ptb30">
    			<h1 class="f36 green">支付宝充值</h1>
				<div class="col col6">
                    <img src="{$tplpath}/images/alipay.png" class="pay-imgs">
                </div>
                <div class="col col6 padding text-center">
                    <h1 class="f24 mt20"> 请点击下方按钮，联系客服，进行人工充值。</h1>

                    <div class="col col12 padding text-center">
                        <table class="kftable f14">
                            <thead>
                                <tr>
                                    <th>在线交谈</th>
                                    <th>QQ号</th>
                                    <th>在线时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="{$tplpath}/images/qq-online.png"></td>
                                    <td>123456789</td>
                                    <td>23：00~09：00</td>
                                </tr>
                                <tr>
                                    <td><img src="{$tplpath}/images/qq-online.png"></td>
                                    <td>123456789</td>
                                    <td>23：00~09：00</td>
                                </tr>
                                <tr>
                                    <td><img src="{$tplpath}/images/qq-online.png"></td>
                                    <td>123456789</td>
                                    <td>23：00~09：00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col col12 padding mt20 text-center">
                        <table class="kftable f14">
                            <thead>
                                <tr>
                                    <th>在线交谈</th>
                                    <th>微信号</th>
                                    <th>在线时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="{$tplpath}"><img src="{$tplpath}/images/wx-online.png"></a></td>
                                    <td>lfdycms</td>
                                    <td>23：00~09：00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container padding text-center">
                    <div class="col12">
                        <img src="{$tplpath}/images/alipay1.jpg">
                    </div>
                    <div class="col12">
                        <img src="{$tplpath}/images/alipay2.jpg">
                    </div>
                </div>
    		</div>
    	</div>
    </div>
	<include file="{$tplpath}/footer.html" />
	<script type="text/javascript" src="{$tplpath}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{$tplpath}/js/jquery.mouseDelay.min.js"></script>
	<script type="text/javascript" src="{$tplpath}/js/global.js"></script>
	</body>
</html>