<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>{$webtitle}</title>
        <meta name="keywords" content="{$keywords}">
        <meta name="description" content="{$description}">
        <link href="{$tplpath}/css/style.css" rel="stylesheet">
    </head>
    <body>
        <include file="{$tplpath}/header.html" />
        <DIV class="main">
            <div class="k_lujing">
                <ul>
                    <li class="k_lujing-1">当前位置：</li>
                    <li class="k_lujing-2"><a href="/">首页</a></li>
                    <li class="k_lujing-3">vip特权</li>
                </ul>
            </div>
            <div class="col_1row">
                <div class="mod_pri_tit">
                    <h3 class="pri_tit">
                        <fieldset>
                            <legend>观影特权</legend>
                        </fieldset>
                    </h3>
                </div>
                <div class="mod_pri_list">
                    <div class="pri_list_inner">
                        <!--pri_list_5 代表5列。可以设置pri_list_1或pri_list_2或pri_list_3或pri_list_4或pri_list_5-->            
                        <ul class="pri_list pri_list_4 cf">

                            <li class="list_item">
                                <a class="item_link" href="#">
                                    <div class="link_inner">
                                        <span class="icon_pri">
                                            <img src="{$tplpath}/images/vip_ad.jpg" alt="广告特权"></span>
                                        <p class="name">广告特权</p>
                                        <p class="txt">月省万秒看广告时间</p>
                                    </div>
                                </a>
                            </li>

                            <li class="list_item">
                                <a class="item_link" href="#">
                                    <div class="link_inner">
                                        <span class="icon_pri">
                                            <img src="{$tplpath}/images/vip_hd.jpg" alt="高清画质随心享"></span>
                                        <p class="name">高清画质随心享</p>
                                        <p class="txt">享超高清影院般视觉盛宴</p>
                                    </div>
                                </a>
                            </li>

                            <li class="list_item">
                                <a class="item_link" href="#">
                                    <div class="link_inner">
                                        <span class="icon_pri">
                                            <img src="{$tplpath}/images/vip_vip.jpg" alt="尊贵身份亮起来"></span>
                                        <p class="name">尊贵身份亮起来</p>
                                        <p class="txt">彰显高大上身份</p>
                                    </div>
                                </a>
                            </li>

                            <li class="list_item">
                                <a class="item_link" href="#">
                                    <div class="link_inner">
                                        <span class="icon_pri">
                                            <img src="{$tplpath}/images/vip_rj.jpg" alt="热剧专享"></span>
                                        <p class="name">热剧专享</p>
                                        <p class="txt">热播剧集抢先看</p>
                                    </div>
                                </a>
                            </li>
                            <li class="list_item">
                                <a class="item_link" href="#">
                                    <div class="link_inner">
                                        <span class="icon_pri">
                                            <img src="{$tplpath}/images/vip_sc.jpg" alt="私密收藏夹"></span>
                                        <p class="name">私密收藏夹</p>
                                        <p class="txt">需要密码才能观看的收藏夹</p>
                                    </div>
                                </a>
                            </li>
                            <li class="list_item">
                                <a class="item_link" href="#">
                                    <div class="link_inner">
                                        <span class="icon_pri">
                                            <img src="{$tplpath}/images/vip_wap.jpg" alt="多屏互动随时看"></span>
                                        <p class="name">多屏互动随时看</p>
                                        <p class="txt">电脑、手机、PAD多屏互动</p>
                                    </div>
                                </a>
                            </li>
                            <li class="list_item">
                                <a class="item_link" href="#">
                                    <div class="link_inner">
                                        <span class="icon_pri">
                                            <img src="{$tplpath}/images/vip_gs.jpg" alt="专享高速通道"></span>
                                        <p class="name">专享高速通道</p>
                                        <p class="txt">观影更加流畅绝不卡顿</p>
                                    </div>
                                </a>
                            </li>
                            <li class="list_item">
                                <a class="item_link" href="#">
                                    <div class="link_inner">
                                        <span class="icon_pri">
                                            <img src="{$tplpath}/images/vip_play.jpg" alt="畅享海量大片"></span>
                                        <p class="name">畅享海量大片</p>
                                        <p class="txt">院线最新大片海量呈现</p>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col_1row">
                <div class="mod_line_tit"></div>
                <div class="mod_vip_join">
                    <div class="vip_join">
                        <ul class="list list_4 cf js_package_list">
                            <li class="item">
                                <p class="tit">
                                    1个月<span class="num">80</span>元
                                </p>
                                <p class="txt">
                                    （10欧元或80人民币）
                                </p>
                                <p class="btn_pay">原价100元</p>
                            </li>
                            <li class="item">
                                <p class="tit">
                                    半年<span class="num">400</span>元
                                </p>
                                <p class="txt">
                                    （49欧元或400人民币）
                                </p>
                                <p class="btn_pay">送30天</p>
                                <i class="icon_flag">优惠</i>
                            </li>
                            <li class="item">
                                <p class="tit">
                                    年费<span class="num">688</span>元
                                </p>
                                <p class="txt">
                                    （88欧元或688人民币）
                                </p>
                                <p class="btn_pay">送90天</p>
                                <i class="icon_flag">超值</i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col_1row">
                <div class="mod_pay_list"><div class="mod_pay_img_list"><a href="{:U('Home/Other/index/tpl/alipay')}" target="_blank"><img src="/Template/web/classic/images/alipay.jpg"></a></div></div>
                <div class="mod_pay_list"><div class="mod_pay_img_list"><a href="{:U('Home/Other/index/tpl/wxpay')}" target="_blank"><img src="/Template/web/classic/images/wx.jpg"></a></div></div>
            </div>
        </DIV>
        <include file="{$tplpath}/footer.html" />
        <script type="text/javascript" src="{$tplpath}/js/jquery1.7.js"></script>
        <script type="text/javascript" src="{$tplpath}/js/jquery.mouseDelay.min.js"></script>
        <script type="text/javascript" src="{$tplpath}/js/global.js"></script>
    </body>
</html>