<extend name="Public/base"/>
<block name="body">
	<div class="hbox stretch">
        <div class="vbox scrollable wrapper m-t-xs">
            <div class="container projects">
                <div class="col-lg-9">
                    <div class="panel b-a">
                        <div class="panel-heading b-b">
                            <b>充值记录</b>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th>充值类型</th>
                                    <th>内容</th>
                                    <th>充值时间</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <notempty name="_list">
                                    <volist name="_list" id="vo">
                                    <tr>
                                        <td><switch name="vo.type"><case value="1">支付宝</case><case value="2">微信</case><case value="3">充值卡</case></switch></td>
                                        <td>{$vo.remark}</td>
                                        <td>{$vo.create_time|time_format=###,"Y-m-d H:i"}</td>
                                    </tr>
                                    </volist>
                                    <else/>
                                    <tr>
                                        <td colspan="3"><i class="glyphicon glyphicon-alert"></i> 暂无该项记录！</td>
                                      </tr>
                                    </notempty>
                                </tbody>
                              </table>
                        </div>
                        <div class="panel-footer">
                        	<div class="text-center">
                                <div class="page">
                                {$_page}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="vbox">
                            <div class="scrollable wrapper">
                                <div class="text-center m-b m-t">
                                        <img src="{$path|default='__IMG__/user.jpg'}" class="img-circle img-users">
                                    <div>
                                        <div class="h4 m-t-xs m-b-xs">{$username}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer bg-info text-center">
                            <div class="row pull-out">
                                <div class="col-xs-4">
                                    <div class="padder-v">
                                    	<a href="{:U('Users/user?state=follow&id='.$id)}">
                                        <span class="m-b-xs h3 block text-white">
                                            {$follow}
                                        </span>
                                        <small class="text-muted">
                                            关注
                                        </small>
										</a>
                                    </div>
                                </div>
                                <div class="col-xs-4 dk">
                                    <div class="padder-v">
                                    	<a href="{:U('Users/user?state=fans&id='.$id)}">
                                        <span class="m-b-xs h3 block text-white">
                                            {$fans}
                                        </span>
                                        <small class="text-muted">
                                            粉丝
                                        </small>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="padder-v">
                                        <span class="m-b-xs h3 block text-white">
                                            {$integral}
                                        </span>
                                        <small class="text-muted">
                                            积分
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="vbox">
                            <div class="scrollable wrapper">
                                <div class="m-b m-t">
                                    <if condition="$vip_time gt time()">
                                    <dl class="row">
                                        <dd class="col-xs-6 rno">VIP到期：</dd>
                                        <dd class="list-inline">{$vip_time|time_format=###,"Y-m-d"}</dd>
                                    </dl>
                                    </if>
                                    <dl class="row">
                                        <dd class="col-xs-6 rno">用户类型：</dd>
                                        <dd class="list-inline"><if condition="$vip_time gt time()">VIP<else/>普通用户</if></dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6 rno">帐号登录次数：</dd>
                                        <dd class="list-inline">{$login}次</dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6 rno">上次登录IP：</dd>
                                        <dd class="list-inline">{:long2ip($last_login_ip)}</dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6 rno">上次登录时间：</dd>
                                        <dd class="list-inline">{$last_login_time|time_format}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="panel panel-default">
                        <div class="vbox">
                            <div class="scrollable wrapper">
                                <div>
                                    <h4 class="m-b"><b>会员功能</b></h4>
                                    <dl class="row">
                                        <dd class="col-xs-6">发表评论</dd>
                                        <dd class="col-xs-6 text-right"><img src="__IMG__/toggle.gif" /></dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6">观看游客视频</dd>
                                        <dd class="col-xs-6 text-right">
                                            <img src="__IMG__/toggle.gif" />
                                        </dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6">观看会员视频</dd>
                                        <dd class="col-xs-6 text-right">
                                            <if condition="$vip_time gt time()">
                                            <img src="__IMG__/toggle.gif" />
                                            <else />
                                            <img src="__IMG__/toggleb.gif" />
                                            </if>
                                        </dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6">观看付费视频</dd>
                                        <dd class="col-xs-6 text-right">
                                            <if condition="$vip_time gt time()">
                                            <img src="__IMG__/toggle.gif" />
                                            <else />
                                            <img src="__IMG__/toggleb.gif" />
                                            </if>
                                        </dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6">视频下载</dd>
                                        <dd class="col-xs-6 text-right">
                                            <if condition="$vip_time gt time()">
                                            <img src="__IMG__/toggle.gif" />
                                            <else />
                                            <img src="__IMG__/toggleb.gif" />
                                            </if>
                                        </dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6">私密夹</dd>
                                        <dd class="col-xs-6 text-right">
                                            <if condition="$vip_time gt time()">
                                            <img src="__IMG__/toggle.gif" />
                                            <else />
                                            <img src="__IMG__/toggleb.gif" />
                                            </if>
                                        </dd>
                                    </dl>
                                    <dl class="row">
                                        <dd class="col-xs-6">尊贵身份标识</dd>
                                        <dd class="col-xs-6 text-right">
                                            <if condition="$vip_time gt time()">
                                            <img src="__IMG__/toggle.gif" />
                                            <else />
                                            <img src="__IMG__/toggleb.gif" />
                                            </if>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</block>