<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$webtitle}</title>
	<meta name="keywords" content="{$keywords}">
	<meta name="description" content="{$description}">
    <link type="text/css" rel="stylesheet" href="{$tplpath}/css/style.css">
</head>
<body>
<div id="app">
	<!-- 头部 -->
	<include file="{$tplpath}/header.html" />
	<div class="yk-content">
		<div class="section section_phone">
			<div class="section_inner">
				<div class="img_box">
					<img class="img_01" src="{$tplpath}/images/phone_img_01.png">		
					<img class="img_02" src="{$tplpath}/images/phone_img_02.png">		
					<img class="img_03" src="{$tplpath}/images/phone_img_03.png">		
					<img class="img_04" src="{$tplpath}/images/phone_img_04.png">		
					<img class="img_05" src="{$tplpath}/images/phone_img_05.png">		
					<img class="img_06" src="{$tplpath}/images/phone_img_06.png">		
					<img class="img_07" src="{$tplpath}/images/phone_img_07.png"></div>
				<div class="txt_box"> <strong class="title">移动端</strong>
					<div class="desc" r-notemplate="true">		
						<span class="inner_txt">乐享移动新世界、缓存、互动...<br>让你的观影体验不一样</span>
					</div>
					<a href="#" class="btn_download">
						<span class="dl_txt">立即下载</span>
					</a>
				</div>
			</div>
		</div>    
	</div>
	<include file="{$tplpath}/footer.html" />
</div>
<script type="text/javascript" src="{$tplpath}/js/jquery.min.js"></script>
<script type="text/javascript" src="{$tplpath}/js/jquery.mouseDelay.min.js"></script>
<script type="text/javascript" src="{$tplpath}/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="{$tplpath}/js/global.js"></script>
</body>
</html>