<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$webtitle}</title>
	<meta name="keywords" content="{$keywords}">
	<meta name="description" content="{$description}">
    <link type="text/css" rel="stylesheet" href="{$tplpath}/css/style.css">
</head>
<body>
<div id="app">
	<!-- 头部 -->
	<include file="{$tplpath}/header.html" />
	<div class="yk-content">
		<div>
            <div class="lead-header">
                <h1>VIP特权</h1>
                <p>会员特权，尊贵享不停！</p>
            </div>
            <div class="newonline">
                <dl>
                    <div class="img img-1"></div>
                    <h2>畅享海量大片</h2>
                    <dt>院线最新大片海量呈现</dt>
                </dl>
                <dl>
                    <div class="img img-2"></div>
                    <h2>免广告</h2>
                    <dt>看视频全程无干扰</dt>
                </dl>
                <dl>
                    <div class="img img-3"></div>
                    <h2>热剧专享</h2>
                    <dt>热播剧集抢先看</dt>
                </dl>
                <dl>
                    <div class="img img-4"></div>
                    <h2>尊享1080P顶级画质</h2>
                    <dt>蓝光立体环绕，震撼音效</dt>
                </dl>
                <dl>
                    <div class="img img-5"></div>
                    <h2>私密收藏夹</h2>
                    <dt>需要密码才能观看的收藏夹</dt>
                </dl>
                <dl>
                    <div class="img img-6"></div>
                    <h2>点亮尊贵标识</h2>
                    <dt>凸显您的尊贵身份</dt>
                </dl>
                <dl>
                    <div class="img img-7"></div>
                    <h2>专享高速通道</h2>
                    <dt>观影更加流畅绝不卡顿</dt>
                </dl>
                <dl>
                    <div class="img img-8"></div>
                    <h2>多屏共享</h2>
                    <dt>移动\PC端会员权益共享</dt>
                </dl>
            </div>
		</div>
		<div>
            <div class="lead-header">
                <h1>开通会员</h1>
                <p>会员特权，尊贵享不停！</p>
            </div>
            <div class="lead-body">
                <ul class="vip_list">
	                <li class="item">
	                    <p class="tit">
	                        1个月<span class="num">80</span>元
	                    </p>
	                    <p class="txt">
	                        （10欧元或80人民币）
	                    </p>
	                    <p class="btn_pay">原价100元</p>
	                </li>
	                <li class="item">
	                    <p class="tit">
	                        半年<span class="num">400</span>元
	                    </p>
	                    <p class="txt">
	                        （49欧元或400人民币）
	                    </p>
	                    <p class="btn_pay">送30天</p>
	                    <i class="icon_flag">优惠</i>
	                </li>
	                <li class="item">
	                    <p class="tit">
	                        年费<span class="num">688</span>元
	                    </p>
	                    <p class="txt">
	                        （88欧元或688人民币）
	                    </p>
	                    <p class="btn_pay">送90天</p>
	                    <i class="icon_flag">超值</i>
	                </li>
	            </ul>
            </div>
            <div>
	            <div class="lead-header">
	                <h1>VIP特权</h1>
	                <p>会员特权，尊贵享不停！</p>
	            </div>
	            <div class="newonline">
	            	<div class="mod_pay_list">
	            		<div class="mod_pay_img_list">
	            			<a href="{:U('Home/Other/index/tpl/alipay')}" target="_blank">
	            				<img src="/Template/web/classic/images/alipay.jpg"></a>
	            		</div>
	            	</div>
	            	<div class="mod_pay_list">
	            		<div class="mod_pay_img_list">
	            			<a href="{:U('Home/Other/index/tpl/wxpay')}" target="_blank">
	            				<img src="/Template/web/classic/images/wx.jpg"></a>
	            		</div>
	            	</div>
		        </div>
		    </div>
		</div>
	</div>
	<include file="{$tplpath}/footer.html" />
</div>
<script type="text/javascript" src="{$tplpath}/js/jquery.min.js"></script>
<script type="text/javascript" src="{$tplpath}/js/jquery.mouseDelay.min.js"></script>
<script type="text/javascript" src="{$tplpath}/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="{$tplpath}/js/global.js"></script>
</body>
</html>