<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>{$webtitle}</title>
        <meta name="keywords" content="{$keywords}">
        <meta name="description" content="{$description}">
        <link type="text/css" rel="stylesheet" href="{$tplpath}/css/style.css">
    </head>
    <body>
    <div id="app">
    <include file="{$tplpath}/header.html" />
    <div class="yk-content">
        <div style="background: #fff;padding-top: 30px;text-align: center;" class="clearfix">
            <h1 style="padding-bottom: 30px;">微信充值/人工开通</h1>
            <div class="mod_pay_list" style="height: 350px;">
                <img src="{$tplpath}/images/wxpay.png" style="width: 300px;">
            </div>
            <div class="mod_pay_list" style="height: 350px;">
                <h2>扫描下方二维码，添加官方微信，使用微信转账或红包开通VIP</h2>
                <h3>注：此微信仅负责充值业务，不负责其它事务！</h3>
                <div>
                    <img src="{$tplpath}/images/qrcode.jpg">
                </div>
            </div>
        </div>
    </div>
    <include file="{$tplpath}/footer.html" />
    </div>
    <script type="text/javascript" src="{$tplpath}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{$tplpath}/js/jquery.mouseDelay.min.js"></script>
    <script type="text/javascript" src="{$tplpath}/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="{$tplpath}/js/global.js"></script>
    </body>
</html>