<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<title>{$webtitle}</title>
<meta name="copyright" content="{$weburl}" />
<meta name="keywords" content="{$keywords}">
<meta name="description" content="{$description}">
<link rel="alternate" href="{$rssurl}" type="application/rss+xml" title="rss" />
<css href="{$tplpath}/style/style.css" />
</head>
<body>
<include file="{$tplpath}/header.html" />
<div id="main">
    <div class="ads1200"><!--广告位置--></div>
    <nav name="nav" type="1">
    <div class="box">
        <div class="content">
            <div class="title">
                <span><b><a href="{$nav['url']}" target="_blank">{$nav['title']}</a></b></span>
                <dl>
                    <nav name="mnav" cid="$nav['id']">
                    <dd <eq name="i" value="1">class="on"</eq>><a href="{$mnav['url']}" target="_blank">{$mnav['title']}</a></dd> 
                    </nav>
                </dl>
                <p><a href="{$nav['url']}" target="_blank">更多&gt;&gt;</a></p>
            </div>
            <div class="bd clearfix">
            	<eq name="nav['branch']" value="0">
                <ul class="img-list dis clearfix">
                    <list name="list" cid="$nav['id']" order="update_time desc" limit="12">	
                    <li>
                        <a class="play-img" href="{$list['url']}" title="{$list['title']}" target="_blank">
                            <img src="{$list['pic']}" alt="{$list['title']}"><i></i>
                            <notempty name="list['serialize']"><em>{$list['serialize']}</em></notempty>
                        </a>
                        <b><a href="{$list['url']}" title="{$list['title']}" target="_blank">{$list['title']|msubstr=0,10}</a></b>
                        <p>{$list['year']}-{$list['ctitle']}</p>
                    </li>
                    </list>				
                </ul>
                <else/>
                <nav name="mnav" cid="$nav['id']">
                <ul class="img-list dis clearfix" <gt name="i" value="1">style="display: none;"</gt>>
                    <list name="list" cid="($mnav['id'])?$mnav['id']:$nav['id']" order="update_time desc" limit="12">	
                    <li>
                        <a class="play-img" href="{$list['url']}" title="{$list['title']}" target="_blank">
                            <img src="{$list['pic']}" alt="{$list['title']}"><i></i>
                            <notempty name="list['serialize']"><em>{$list['serialize']}</em></notempty>
                        </a>
                        <b><a href="{$list['url']}" title="{$list['title']}" target="_blank">{$list['title']|msubstr=0,10}</a></b>
                        <p>{$list['year']}-{$list['ctitle']}</p>
                    </li>
                    </list>				
                </ul>
                </nav>
                </eq>
            </div>
        </div>
        <div class="side">
            <div class="shot">
                <dl>
                    <dt><a href="{$nav['url']}" target="_blank">{$nav['title']}排行</a></dt>
                </dl>
                <div class="bd">
                    <ul class="dis">
                    <list name="list" cid="$nav['id']" order="hits desc" limit="12">
                        <li><span>{$list['update_time']|time_format=###,"m-d"}</span><a href="{$list['url']}" title="{$list['title']}" target="_blank">{$list['title']|msubstr=0,10}</a><em>{$list['serialize']}</em></li>
                    </list>									
                    </ul>
                </div>

            </div>
        </div>
        <div class="cr"></div>
    </div>
    </nav>     
    <div class="ads1200"></div>
    <!--/box-->
    <div class="link">
        <div class="title">
            <span>友情链接：</span>
            <p>欢迎高质量链接交换</p>
        </div>
        <div>
            <weblink name="link">
			<a href="{$link['url']}" target="_blank">{$link['title']}</a>
            </weblink>
        </div>
    </div>
</div>
<include file="{$tplpath}/footer.html" />
<js href="{$tplpath}/js/jquery.min.js" />
<js href="{$tplpath}/js/jquery.SuperSlide.js" />
<js href="{$tplpath}/js/common.js" />
</body>
</html>