<!--
<div class="msg_winw">
    <div class="close">
        <img src="{$tplpath}/images/ad_close.png">
    </div>
    <script src="/index.php?s=/Home/Ad/index/id/13"></script>
</div>
-->

<div class="content margin-t30 bgcolor-fff border-top padding-tb15">
    <div class="container">
        <div class="col col3 vl-align-top">
            <div class="col col12 text-left">
                <h3 class="public_title_f">客户端</h3>
            </div>
            <div class="col col12 margin-t10">
                <a href="{:U('Home/Other/index/tpl/app_down')}" target="_blank" class="col col4 f12 a1">iPad版</a>
                <a href="{:U('Home/Other/index/tpl/app_down')}" target="_blank" class="col col4 f12 a1">iPhone版</a>
                <a href="{:U('Home/Other/index/tpl/app_down')}" target="_blank" class="col col4 f12 a1">Android版</a>
            </div>
        </div>
        <div class="col col5 vl-align-top">
            <div class="col col12 text-left">
                <h3 class="public_title_f">版权说明</h3>
            </div>
            <div class="col col12 f12 margin-t10 bottom-word h66">
                如果来函说明本网站提供内容系本人或法人版权所有.<br>
本网站在核实后，有权先行撤除，以保护版权拥有者的权益 <br>
邮箱地址：info@168tv.eu  <br>
{$webtitle}版权所有.未经授权禁止链接、复制或建立
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{$tplpath}/js/jquery.min.js"></script>
<script type="text/javascript" src="{$tplpath}/js/jquery.mouseDelay.min.js"></script>
<script type="text/javascript" src="{$tplpath}/js/template/global.js"></script>