<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>{$title}-{$webtitle}</title>
        <meta name="keywords" content="{$keywords}">
        <meta name="description" content="{$description}">
        <link href="{$tplpath}/css/global.css" rel="stylesheet">
        <link href="{$tplpath}/css/style.css" rel="stylesheet">
        <!--[if lt IE 8]>
            <script src="{$tplpath}/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body class="bgcolor-f5f5">
        <include file="{$tplpath}/fheader.html" />
        <div class="content">
			<div class="container">
				<div class="col col12 f14 padding-tb5">
					<a href="/">首页</a>	&gt;
					<a href="{$curl}" class="a1">{$ctitle}</a>	&gt;
					<a href="{$url}" class="a1">{$title}</a>
				</div>
				<h2 class="col col12 f16">
					{$title}{$serialize}
				</h2>
			</div>
		</div>
		<div class="content padding-tb15">
			<div class="container">
				<div class="col players">
					<player />
				</div>
				<div class="col col12 padding-lr15 padding-tb15 bgcolor-fff">
					<div class="col col2 f14">
						<img src="{$tplpath}/images/gkjl.png" style="margin-right: 5px;vertical-align: middle;" />
						<span class="red">{$hits}</span> 人已观看
					</div>
					<div class="col col4 f14">
						<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
					</div>
					<div class="col col6 text-right">
						<a href="javascript:;" {$favorites} class="player_sc">收藏</a>
						<span {$digg['up_js']} class="player_up">{$digg['up']}</span>
						<span {$digg['down_js']} class="player_down">{$digg['down']}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="content padding-tb15">
			<div class="container">
				<div class="col col77 f12 bgcolor-fff padding vl-align-top">
					<playlist name="player">
					<div class="col col12 play-list <neq name="i" value="1">margin-t30</neq>">
						<h2 class="col f16 u-tab-title">{$player['title']}<em></em></h2>
					</div>
					<div class="col col12 padding-tb15" name="PlayList">
						<volist name="player['movie_url']" id="url">
						<a href="{$url['url']}" target="_player" <eq name="player['vip']" value="1">{$url['vip_js']}</eq> class="label label-hover margin-t10">{$url['title']}</a>
						</volist>
						<span class="label label-hover margin-t10" name="play-show"></span>
					</div>
					</playlist>
					<div class="col col12 ad-height">
						<script src="__AD__/movie_840x100.js"></script>
					</div>
					<div class="col col12 margin-t30">
						<h3 class="public_title_f">猜你喜欢</h3>
					</div>
					<div class="col col12 move-list">
						<list name="list" order="hits desc" limit="12">
						<div class="col col286">
							<a href="{$list['url']}">
								<span class="tip"></span>
								<div class="list-img">
									<span class="player"></span>
									<img src="{$list['pic']}" class="img-full">
									<i>{$list['year']}</i>
								</div>
								<dl class="profiles bgcolor-fff text-left">
									<dt class="f14 h33 like-dt">{$list['title']|msubstr=0,9}</dt>
									<dd class="f12 h88">{$list['actors']|msubstr=0,11}</dd>
								</dl>
							</a>
						</div>
						</list>

						<div class="col col12 ad-height">
							<script src="__AD__/movie_840x100.js"></script>
						</div>

						<div class="col col12 margin-t30">
							<comment />
						</div>
					</div>
				</div>

				<div class="col col33 vl-align-top">
					<div class="col col12 h66 bgcolor-fff padding">
						<h1 class="f16 h33">{$title}</h1>
						<dt class="col col12 f14 padding-tb8 border-bottom-dotted">热度：{$hits}</dt>
						<dt class="col col6 f14 padding-tb8 border-bottom-dotted">年份：{$year}</dt>
						<dt class="col col6 f14 padding-tb8 border-bottom-dotted">类型：{$ctitle}</dt>
						<dt class="col col6 f14 padding-tb8 border-bottom-dotted">地区：{$area}</dt>
						<dt class="col col6 f14 padding-tb8 border-bottom-dotted">语言：{$language}</dt>
						<dt class="col col12 f14 padding-tb8">主演：</dt>
						<dd class="col col12 f14 border-bottom-dotted padding-b8">
							<volist name="actors_array" id="actors">
								<a href="{$actors['url']}" class="a1">{$actors['actors']}</a> /
							</volist>
						</dd>
						<dt class="col col12 f14 padding-tb8">剧情介绍：</dt>
						<dd class="col col12 f14 h88">{$content}</dd>
					</div>

					<div class="col col12 ad-height margin-t15">
						<script src="__AD__/player_295x100.js"></script>
					</div>

					<div class="col col12 bgcolor-fff padding margin-t15 ">
						<div class="col col12">
							<h3 class="public_title_f">{$ctitle}排行榜</h3>
						</div>
						<div class="col col12 margin-t15 padding-b10 rank">
							<list name="list" order="hits desc" limit="10">
							<dl class="col col12 rank-list">
								<a href="{$list['url']}">
									<dd>{$i}</dd>
									<dt>{$list['title']|msubstr=0,10}</dt>
									<img src="{$list['pic']}" class="img-full">
								</a>
							</dl>
							</list>
						</div>
					</div>

					<div class="col col12 bgcolor-fff padding margin-t15 ">
						<div class="col col12">
							<h3 class="public_title_f">最新更新</h3>
						</div>
						<div class="col col12 margin-t15 r-h-list">
							<list name="list" order="update_time desc" limit="6">
							<dl class="col col6 padding">
								<a href="{$list['url']}">
									<dd><img src="{$list['pic']}" class="img-full"></dd>
									<dt class="f14 h88">{$list['title']|msubstr=0,10}</dt>
								</a>
							</dl>
							</list>
						</div>
					</div>


				</div>

			</div>
		</div>

		
		<include file="{$tplpath}/footer.html" />
		<script type="text/javascript">
			$('.top-class').children('span').each(function(index, el) {
				$(this).mouseDelay(false).hover(function() {
					$(this).children('.tow-menu').addClass('cuur');
				}, function() {
					$(this).children('.tow-menu').removeClass('cuur');
				});
			});
		</script>
	</body>
	

</html>