<extend name="Public/base"/>

<block name="body">
    <div class="panel admin-panel">
    <form method="post" class="form-x">
    	<div class="panel-head"><strong>管理员管理</strong></div>
        <div class="padding border-bottom">
        	<div class="button-group button-group-small">
            <button type="button" class="button checkall" checkfor="id[]" name="checkall"><span class="icon-check-square-o"></span> 全选</button>
             <a class="button" href="{:U('add')}"><span class="icon-plus text-green"></span> 新 增</a>
             <button class="button ajax-post confirm" url="{:U('del')}" target-form="form-x"><span class="icon-trash-o text-red"></span> 删 除</button>
             </div>
        </div>
        <table class="table table-hover">
        	<tr>
                <th width="45">选择</th>
                <th>ID</th>
                <th>用户名</th>
                <th>登录次数</th>
                <th>最后登录时间</th>
                <th>最后登录IP</th>
                <th>操作</th>
            </tr>
           	<notempty name="_list">
            <volist name="_list" id="vo">
            <tr>
                <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
                <td>{$vo.id} </td>
                <td>{$vo.username}</td>
                <td>{$vo.login}</td>
                <td>{$vo.last_login_time|time_format}</td>
                <td>{:long2ip($vo['last_login_ip'])}</td>
                <td>
                <a href="{:U('edit?id='.$vo['id'])}">修改</a>
                <a href="{:U('del?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                </td>
            </tr>
            </volist>
            <else/>
            <td colspan="7"> aOh! 暂时还没有内容! </td>
            </notempty>
        </table>
         <div class="panel-foot text-center">
         	<div class="page">{$_page}</div>
        </div>
        </form>
    </div>
</block>